.explanation {
  padding: 50px 20px;
}

.explanation-text {
  font-size: var(--font-size-mobile);
  line-height: var(--line-height-mobile);
  margin-top: 20px;
  color: var(--color-text);
}

@media only screen and (min-width: 768px) {
  .explanation {
    padding: 100px;
  }

  .explanation-text {
    font-size: var(--font-size-desktop);
    line-height: var(--line-height-desktop);
    color: var(--color-text-gray);
  }
}
