.intro {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  margin: 50px 20px;
}

.intro-title-1 {
  text-transform: uppercase;
  font-size: 9.8vw;
}

.intro-title-2 {
  text-transform: uppercase;
  font-size: 6vw;
}

.intro-text-p {
  font-size: var(--font-size-mobile);
  line-height: var(--line-height-mobile);
  margin-top: 20px;
}

.intro-text-p span {
  font-size: var(--font-size-mobile);
}

.intro-text-p a {
  font-size: var(--font-size-mobile);
}

@media only screen and (min-width: 768px) {
  .intro {
    flex-direction: row;
    margin: 100px;
  }

  .intro-title-1 {
    font-size: 8vw;
  }

  .intro-title-2 {
    font-size: 5vw;
  }

  .intro-text-p {
    font-size: 40px;
    line-height: 50px;
  }

  .intro-text-p span {
    font-size: 40px;
  }

  .intro-text-p a {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .intro-title-1 {
    font-size: 8.9vw;
  }
  .intro-title-2 {
    font-size: 3vw;
  }
}
