.partenaires {
  background-image: url("../images/hero-insta.jpg");
  background-size: cover;
  background-repeat: none;
}

.partenaires h4 {
  color: var(--color-highlight);
  font-size: 20px;
  margin: 0;
  padding: 20px;
}

.partenaires ul {
  padding: 0 20px 20px 20px;
}
.partenaires a,
.partenaires span {
  color: #fff;
}

.partner-link:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .partenaires {
    padding: 50px 100px;
  }
  .partenaires h4 {
    padding: 40px 40px 20px 20px;
    margin: 0;
    font-size: 25px;
  }
}
